.genex-button {
    margin-right: -8px;
    height: 40px !important;
}

.genex-label {
    /*font: normal normal normal 10pt/normal 'Open Sans', Verdana, Geneva, sans-serif !important;*/
    /*padding: 4px 0px 0px 10px !important;*/
    font-family: sans-serif !important;
    font-size: 13px !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: bold !important;
    padding-top: 6px !important;
    margin-left: 18px;
}

.gwt-HTML {
	cursor: default;
	overflow-x: auto !important;
	overflow-y: auto !important;
	background-color: rgb(248, 248, 248) !important;
}

.genex-scrollpanel {
    word-wrap: normal !important;
    white-space: pre !important;
}

pre, #dna-strand {
    font-family: 'courier new', courier !important;
    font-size: 13px !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    border-style: none !important;
    background-color: rgb(248, 248, 248) !important;	
    word-wrap: normal !important;
    white-space: pre !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
}

.gwt-DialogBox .Caption {
  background: #F1F1F1;
  padding: 4px 8px 4px 4px;
  cursor: default;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #D2D2D2;
}
.gwt-DialogBox .dialogContent {
}
.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}
.gwt-DialogBox .dialogBottomCenter {
  background: url("/static/67ce7c7/js/capa/genex/images/hborder.78928e9e3f89.png") repeat-x 0px -2945px;
  -background: url("/static/67ce7c7/js/capa/genex/images/hborder_ie6.66f82caed0a0.png") repeat-x 0px -2144px;
}
.gwt-DialogBox .dialogMiddleLeft {
  background: url("/static/67ce7c7/js/capa/genex/images/vborder.4bf5b3168d30.png") repeat-y -31px 0px;
}
.gwt-DialogBox .dialogMiddleRight {
  background: url("/static/67ce7c7/js/capa/genex/images/vborder.4bf5b3168d30.png") repeat-y -32px 0px;
  -background: url("/static/67ce7c7/js/capa/genex/images/vborder_ie6.ccb38cc24d8f.png") repeat-y -32px 0px;
}
.gwt-DialogBox .dialogTopLeftInner {
  width: 10px;
  height: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopRightInner {
  width: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomLeftInner {
  width: 10px;
  height: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomRightInner {
  width: 12px;
  height: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopLeft {
  background: url("/static/67ce7c7/js/capa/genex/images/circles.b6781fa7f4dd.png") no-repeat -20px 0px;
  -background: url("/static/67ce7c7/js/capa/genex/images/circles_ie6.fd5ffd0df2b9.png") no-repeat -20px 0px;
}
.gwt-DialogBox .dialogTopRight {
  background: url("/static/67ce7c7/js/capa/genex/images/circles.b6781fa7f4dd.png") no-repeat -28px 0px;
  -background: url("/static/67ce7c7/js/capa/genex/images/circles_ie6.fd5ffd0df2b9.png") no-repeat -28px 0px;
}
.gwt-DialogBox .dialogBottomLeft {
  background: url("/static/67ce7c7/js/capa/genex/images/circles.b6781fa7f4dd.png") no-repeat 0px -36px;
  -background: url("/static/67ce7c7/js/capa/genex/images/circles_ie6.fd5ffd0df2b9.png") no-repeat 0px -36px;
}
.gwt-DialogBox .dialogBottomRight {
  background: url("/static/67ce7c7/js/capa/genex/images/circles.b6781fa7f4dd.png") no-repeat -8px -36px;
  -background: url("/static/67ce7c7/js/capa/genex/images/circles_ie6.fd5ffd0df2b9.png") no-repeat -8px -36px;
}
* html .gwt-DialogBox .dialogTopLeftInner {
  width: 10px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogTopRightInner {
  width: 12px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomLeftInner {
  width: 10px;
  height: 12px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomRightInner {
  width: 12px;
  height: 12px;
  overflow: hidden;
}